.bt-login {
    width: 120px;
    height: 45px;
}

h1 {
    font-size: 3rem !important;
}

.bt-shadow {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.13);
}

.bt-get {
    height: 60px;
    width: 205px;
}

.bt-more {
    height: 60px;
    width: 145px;
}