.bt-login {
    width: auto;
    height: auto;
    box-shadow: none;
    background-color: transparent;
    border-radius: none;
    color: black;
}

@include media-breakpoint-up(lg) {
    .bt-login {
        width: 120px;
        height: 45px;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.13);
        background-color: $secondary;
        border-radius: 10px;
        color: white !important;
    }
}

h1 {
    font-size: 3rem !important;
}

.bt-shadow {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.13);
}

.bt-get {
    height: 50px;
    width: 155px;
    font-size: 1rem;
}

@include media-breakpoint-up(lg) {
    .bt-get {
        height: 60px;
        width: 205px;
        font-size: 1.3rem;
    }
}

.bt-more {
    height: 60px;
    width: 145px;
}

.filterLogo {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(100deg) brightness(100%) contrast(100%);
}

.n-item {
    border-bottom: 3px solid blue;
}

@include media-breakpoint-up(lg) {
    .n-item {
        border-bottom: none;
    }
}

.ct-navItems {
    height: 100vh;
}

@include media-breakpoint-up(lg) {
    .ct-navItems {
        height: auto;
    }
}

.ct-navBar {
    background-color: rgba(36, 41, 70, 0.5);
}

@include media-breakpoint-up(lg) {
    .ct-navBar {
        background-color: $light;
    }
}